@model ForensicBones100.Models.InventarioCranio

@{
    ViewData["Title"] = "Delete";
}

<div class="tituloPage m-3 text-center">
    <h4><b>RELATÓRIO DE ANTROPOLOGIA FORENSE</b></h4>

</div>
<hr />

<div class="container pb-3">
    <div class="card mb-3">
        <div class="card-header text-center">
            <h5 class="card-title" id="">Inventário do Crânio</h5><h6> Relatório: <b>@Html.DisplayFor(modelItem => Model.Relatorio.Codigo)</b></h6>
        </div>
        <div class="card-body text-center">

            <h5 class="card-title">Fotos do Crânio</h5>
            <p class="card-text">
                Foto:  @Html.DisplayNameFor(model => model.FotosCranio)
                <img src="@Model.FotosCranio" alt="Imagem" class="img-thumbnail d-flex mx-auto" style="max-width: 100%;" />
            </p>


            <h5 class="card-title">Ossos</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Frontal: @Html.DisplayFor(modelItem => Model.Frontal) <br /> @Html.DisplayFor(modelItem => Model.FrontalDesc)</li>
                <li class="list-group-item">Ocipital: @Html.DisplayFor(modelItem => Model.Ocipital) <br /> @Html.DisplayFor(modelItem => Model.OcipitalDesc)</li>
                <li class="list-group-item">Esfenoide: @Html.DisplayFor(modelItem => Model.Esfenoide) <br /> @Html.DisplayFor(modelItem => Model.EsfenoideDesc)</li>
                <li class="list-group-item">Maxilar: @Html.DisplayFor(modelItem => Model.Maxilar) <br /> @Html.DisplayFor(modelItem => Model.MaxilarDesc)</li>
                <li class="list-group-item">Vomer: @Html.DisplayFor(modelItem => Model.Vomer) <br /> @Html.DisplayFor(modelItem => Model.VomerDesc)</li>
                <li class="list-group-item">Parietal Esquerdo: @Html.DisplayFor(modelItem => Model.ParietalEsquerdo) <br /> @Html.DisplayFor(modelItem => Model.ParietalEsquerdoDesc)</li>
                <li class="list-group-item">Temporal Esquerdo: @Html.DisplayFor(modelItem => Model.TemporalEsquerdo) <br /> @Html.DisplayFor(modelItem => Model.TemporalEsquerdoDesc)</li>
                <li class="list-group-item">Concha Nasal Esquerda: @Html.DisplayFor(modelItem => Model.ConchaNasalInferiorEsquerda) <br /> @Html.DisplayFor(modelItem => Model.ConchaNasalInferiorEsquerdaDesc)</li>
                <li class="list-group-item">Etmoide Esquerdo: @Html.DisplayFor(modelItem => Model.Etmoide) <br /> @Html.DisplayFor(modelItem => Model.EtmoideDesc)</li>
                <li class="list-group-item">Lacrimal Esquerdo: @Html.DisplayFor(modelItem => Model.LacrimalEsquerdo) <br /> @Html.DisplayFor(modelItem => Model.LacrimalEsquerdoDesc)</li>
                <li class="list-group-item">Nasal Esquerdo: @Html.DisplayFor(modelItem => Model.NasalEsquerdo) <br /> @Html.DisplayFor(modelItem => Model.NasalEsquerdoDesc)</li>
                <li class="list-group-item">Zigomatico Esquerdo: @Html.DisplayFor(modelItem => Model.ZigomaticoEsquerdo) <br /> @Html.DisplayFor(modelItem => Model.ZigomaticoEsquerdoDesc)</li>
                <li class="list-group-item">Parietal Direito: @Html.DisplayFor(modelItem => Model.ParietalDireito) <br /> @Html.DisplayFor(modelItem => Model.ParietalDireitoDesc)</li>
                <li class="list-group-item">Temporal Direito: @Html.DisplayFor(modelItem => Model.TemporalDireito) <br /> @Html.DisplayFor(modelItem => Model.TemporalDireitoDesc)</li>
                <li class="list-group-item">Concha Nasal Dirireita: @Html.DisplayFor(modelItem => Model.ConchaNasalInferiorDireita) <br /> @Html.DisplayFor(modelItem => Model.ConchaNasalInferiorDireitaDesc)</li>
                <li class="list-group-item">Etmoide Direito: @Html.DisplayFor(modelItem => Model.LacrimalDireito) <br /> @Html.DisplayFor(modelItem => Model.LacrimalDireitoDesc)</li>
                <li class="list-group-item">Lacrimal Direito: @Html.DisplayFor(modelItem => Model.NasalDireito) <br /> @Html.DisplayFor(modelItem => Model.NasalDireitoDesc)</li>
                <li class="list-group-item">Zigomatico Direito: @Html.DisplayFor(modelItem => Model.ZigomaticoDireito) <br /> @Html.DisplayFor(modelItem => Model.ZigomaticoDireitoDesc)</li>
                <li class="list-group-item">Hioide: @Html.DisplayFor(modelItem => Model.Hioide) <br /> @Html.DisplayFor(modelItem => Model.HioideDesc)</li>
                <li class="list-group-item">Cartilagem Tireoide: @Html.DisplayFor(modelItem => Model.CartilagemTireoide) <br /> @Html.DisplayFor(modelItem => Model.CartilagemTireoideDesc)</li>
                <li class="list-group-item">Mandíbula: @Html.DisplayFor(modelItem => Model.Mandibula) <br /> @Html.DisplayFor(modelItem => Model.MandibulaDesc)</li>
                <!-- Adicione os outros ossos aqui -->
            </ul>

            <h5 class="card-title pt-3">Observações</h5>
            <p class="card-text pb-3">@Html.DisplayFor(modelItem => Model.Observacoes)</p>

            <form asp-action="Delete">
                <input type="hidden" asp-for="InventarioCranioId" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                <input type="submit" value="Delete" class="btn btn-danger" />

            </form>
        </div>
    </div>
    }
</div>