@model ForensicBones100.Models.InventarioCranio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InventarioCranio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frontal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frontal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontalDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontalDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocipital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocipital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OcipitalDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OcipitalDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Esfenoide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Esfenoide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsfenoideDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsfenoideDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maxilar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maxilar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxilarDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxilarDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VomerDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VomerDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParietalEsquerdo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParietalEsquerdo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParietalEsquerdoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParietalEsquerdoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporalEsquerdo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporalEsquerdo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporalEsquerdoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporalEsquerdoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConchaNasalInferiorEsquerda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConchaNasalInferiorEsquerda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConchaNasalInferiorEsquerdaDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConchaNasalInferiorEsquerdaDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etmoide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etmoide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtmoideDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtmoideDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LacrimalEsquerdo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LacrimalEsquerdo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LacrimalEsquerdoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LacrimalEsquerdoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NasalEsquerdo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NasalEsquerdo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NasalEsquerdoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NasalEsquerdoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZigomaticoEsquerdo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZigomaticoEsquerdo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZigomaticoEsquerdoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZigomaticoEsquerdoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParietalDireito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParietalDireito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParietalDireitoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParietalDireitoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporalDireito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporalDireito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporalDireitoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporalDireitoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConchaNasalInferiorDireita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConchaNasalInferiorDireita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConchaNasalInferiorDireitaDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConchaNasalInferiorDireitaDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LacrimalDireito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LacrimalDireito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LacrimalDireitoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LacrimalDireitoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NasalDireito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NasalDireito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NasalDireitoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NasalDireitoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZigomaticoDireito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZigomaticoDireito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZigomaticoDireitoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZigomaticoDireitoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hioide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hioide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HioideDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HioideDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartilagemTireoide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartilagemTireoide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartilagemTireoideDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartilagemTireoideDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mandibula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mandibula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MandibulaDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MandibulaDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotosCranio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotosCranio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relatorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relatorio.Codigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InventarioCranioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
