@model Forensic_Bones.Models.MarcadorCranio

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MarcadorCranio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventCranio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventCranio.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CristalNucal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CristalNucal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessoMastoide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessoMastoide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EminenciaMentoniana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EminenciaMentoniana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupraOrbital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupraOrbital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaGlabela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaGlabela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
