@model Forensic_Bones.Models.MarcadoresCranio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MarcadoresCranio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CristaNucal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CristaNucal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessoMastoide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessoMastoide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EminenciaMentoniana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EminenciaMentoniana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupraOrbital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupraOrbital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaGlabela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaGlabela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relatorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relatorio.Codigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MarcadoresCranioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
