@model IEnumerable<Forensic_Bones.Models.MarcadoresCranio>

@{
    ViewData["Title"] = "Index";
}

<div class="tituloPage m-3 text-center">
    <h4><b>RELATÓRIO DE ANTROPOLOGIA FORENSE - ESTIMATIVA DE SEXO PELO CÂNIO</b></h4>
</div>
<hr />

<div class="container col-12">
    <div class="row ">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card">
                    <div class="card-header text-center">
                        <h5 class="card-title" id="">Marcadores do Crânio<b></b></h5>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table">
                                <thead class="TheadTitle text-center">
                                    <tr>
                                        <th>Características</th>
                                        <th>Sexo</th>
                                        <th>Observações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center align-middle">Cristal Nucal</td>
                                        <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.CristaNucal)</td>
                                        <td>
                                            <textarea class="form-control text-center" readonly placeholder="Deixe um comentário aqui" id="floatingTextarea2" style="height: 40px">@item.Observacoes</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center align-middle">Processo Mastóide</td>
                                        <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.ProcessoMastoide)</td>
                                        <td>
                                            <textarea class="form-control text-center" readonly placeholder="Deixe um comentário aqui" id="floatingTextarea2" style="height: 40px">@item.Observacoes</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center align-middle">Eminência Mentoniana</td>
                                        <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.EminenciaMentoniana)</td>
                                        <td>
                                            <textarea class="form-control text-center" readonly placeholder="Deixe um comentário aqui" id="floatingTextarea2" style="height: 40px">@item.Observacoes</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center align-middle">Margem Supra-Orbital</td>
                                        <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.SupraOrbital)</td>
                                        <td>
                                            <textarea class="form-control text-center" readonly placeholder="Deixe um comentário aqui" id="floatingTextarea2" style="height: 40px">@item.Observacoes</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center align-middle">Área da Glabela</td>
                                        <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.AreaGlabela)</td>
                                        <td>
                                            <textarea class="form-control text-center" readonly placeholder="Deixe um comentário aqui" id="floatingTextarea2" style="height: 40px">@item.Observacoes</textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="buttonCrud m-3 d-flex mx-auto justify-content-center">
                                <a asp-action="Edit" asp-route-id="@item.MarcadoresCranioId" class="btn btn-secondary me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">Alterar</a>
                                <a asp-action="Delete" asp-route-id="@item.MarcadoresCranioId" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Deletar">Apagar</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>