@model Forensic_Bones.Models.InventCranio

@{
    ViewData["Title"] = "Delete";
}

<div class="tituloPage m-3 text-center">
    <h2><b>Inventário do Crânio</b></h2>
</div>
<hr />
<div>
    <form asp-action="Delete">
        <a class="btn btn-secondary ms-4" asp-action="Index">Voltar</a>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />  
    </form>
</div>
<div class="TextAlert text-center pb-2"><h5><b>Tem certeza que deseja remover este inventário?</b></h5></div>
<div class="card mx-auto col-lg-6 col-md-8 col-sm-10 col-12">
    <div class="card-content">
        <div class="card-header">
            <h5 class="card-title text-center" id="editarRelatorioModalLabel">Editar Relatório</h5>
        </div>
        <div class="card-body d-flex">
            <form id="cardForm" asp-action="Create" Class="text">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <dl class="row d-flex text-center">
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.InventEsqueleto)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.InventEsqueleto.Id)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.Frontal)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.Frontal)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.Ocipital)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.Ocipital)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.Esfenoide)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.Esfenoide)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.Maxilar)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.Maxilar)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.Palatino)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.Palatino)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.Vomer)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.Vomer)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.ParietalEsquerdo)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.ParietalEsquerdo)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.TemporalEsquerdo)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.TemporalEsquerdo)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.ConchaNasalInferiorEsquerda)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.ConchaNasalInferiorEsquerda)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.EtmoideEsquerdo)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.EtmoideEsquerdo)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.LacrimalEsquerdo)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.LacrimalEsquerdo)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.NasalEsquerdo)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.NasalEsquerdo)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.ZigomaticoEsquerdo)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.ZigomaticoEsquerdo)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.ParietalDireito)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.ParietalDireito)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.TemporalDireito)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.TemporalDireito)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.ConchaNasalInferiorDireita)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.ConchaNasalInferiorDireita)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.Etmoide)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.Etmoide)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.LacrimalDireito)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.LacrimalDireito)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.ZigomaticoDireito)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.ZigomaticoDireito)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.Hioide)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.Hioide)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.CartilagemDaTireoide)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.CartilagemDaTireoide)
                    </dd>
                    <dt class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayNameFor(model => model.Mandibula)
                    </dt>
                    <dd class="col-lg-6 col-md-6 col-12">
                        @Html.DisplayFor(model => model.Mandibula)
                    </dd>
                </dl>
                
            </form>

        </div>
    </div>
</div>
<div class="mt-4"></div>