@model IEnumerable<Forensic_Bones.Models.InventCranio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventEsqueleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frontal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocipital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Esfenoide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maxilar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Palatino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParietalEsquerdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemporalEsquerdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConchaNasalInferiorEsquerda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtmoideEsquerdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LacrimalEsquerdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NasalEsquerdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZigomaticoEsquerdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParietalDireito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemporalDireito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConchaNasalInferiorDireita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etmoide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LacrimalDireito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZigomaticoDireito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hioide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartilagemDaTireoide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mandibula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InventEsqueleto.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frontal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocipital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Esfenoide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maxilar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Palatino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParietalEsquerdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemporalEsquerdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConchaNasalInferiorEsquerda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtmoideEsquerdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LacrimalEsquerdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NasalEsquerdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZigomaticoEsquerdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParietalDireito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemporalDireito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConchaNasalInferiorDireita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etmoide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LacrimalDireito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZigomaticoDireito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hioide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartilagemDaTireoide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mandibula)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
