@model Forensic_Bones.Models.Relatorio

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Inventário do Esqueleto</h4>
    <hr />
    @foreach (var relatorio1 in Model.InventariosEsqueleto)
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => relatorio1.FotoEsqueleto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => relatorio1.FotoEsqueleto)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => relatorio1.ObservacoesEsq)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => relatorio1.ObservacoesEsq)
            </dd>
            <!-- Adicione outras propriedades do InventarioEsqueleto que você deseja exibir -->
        </dl>
    }
</div>

<div>
    <h4>Marcadores do Crânio</h4>
    <hr />
    @foreach (var relatorio2 in Model.MarcadoresCranio)
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => relatorio2.EminenciaMentoniana)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => relatorio2.EminenciaMentoniana)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => relatorio2.AreaGlabela)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => relatorio2.AreaGlabela)
            </dd>
            <!-- Adicione outras propriedades do MarcadorCranio que você deseja exibir -->
        </dl>
    }
</div>

<div>
    <h4>Inventário do Crânio</h4>
    <hr />
    @foreach (var relatorio3 in Model.InventarioCranio)
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => relatorio3.Ocipital)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => relatorio3.Ocipital)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => relatorio3.Esfenoide)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => relatorio3.Esfenoide)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => relatorio3.ZigomaticoDir)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => relatorio3.ZigomaticoDir)
            </dd>
            <!-- Adicione outras propriedades do InventarioCranio que você deseja exibir -->
        </dl>
    }
</div>

<a asp-action="Edit" asp-route-id="@Model?.RelatorioId">Edit</a> |
<a asp-action="Index">Back to List</a>
