@model Forensic_Bones.Models.InventarioCranio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InventarioCranio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventarioEsqueletoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventarioEsqueletoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoCranio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoCranio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frontal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frontal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocipital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocipital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Esfenoide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Esfenoide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maxilar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maxilar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParietalEsq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParietalEsq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporalEsq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporalEsq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConchaNasalEsq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConchaNasalEsq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtmoideEsq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtmoideEsq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LacrimalEsq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LacrimalEsq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NasalEsq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NasalEsq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZigomaticoEsq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZigomaticoEsq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParietalDir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParietalDir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporalDir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporalDir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConchaNasalDir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConchaNasalDir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtmoideDir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtmoideDir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LacrimalDir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LacrimalDir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZigomaticoDir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZigomaticoDir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hioide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hioide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartilagemTireoide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartilagemTireoide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mandibula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mandibula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontalDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontalDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OcipitalDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OcipitalDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsfenoideDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsfenoideDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxilarDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxilarDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VomerDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VomerDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParietalEsqDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParietalEsqDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporalEsqDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporalEsqDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConchaNasalEsqDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConchaNasalEsqDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtmoideEsqDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtmoideEsqDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LacrimalEsqDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LacrimalEsqDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NasalEsqDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NasalEsqDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZigomaticoEsqDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZigomaticoEsqDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParietalDirDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParietalDirDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporalDirDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporalDirDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConchaNasalDirDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConchaNasalDirDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtmoideDirDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtmoideDirDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LacrimalDirDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LacrimalDirDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZigomaticoDirDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZigomaticoDirDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HioideDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HioideDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartilagemTireoideDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartilagemTireoideDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MandibulaDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MandibulaDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relatorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relatorio.Codigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InventarioCranioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
