@model IEnumerable<Forensic_Bones.Models.FotoAchado>

@{
    ViewData["Title"] = "Index";
}
<div class="container mt-5">
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
        @{
            int contador = 1;
        }
        @foreach (var item in Model)
        {
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-@contador" data-bs-toggle="tab" href="#pane-@contador" role="tab" aria-controls="pane-@contador" aria-selected="@contador == 1">
                    Foto @contador
                </a>
            </li>
            contador++;
        }
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="@Url.Action("Create")">
                +
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        @{
            contador = 1; // Resetar o contador
        }
        @foreach (var item in Model)
        {
            <div class="tab-pane fade @if (contador == 1) {
        <text>show active</text>
 }" id="pane-@contador" role="tabpanel" aria-labelledby="tab-@contador">
                    <div class="card text-center d-flex mx-auto m-5 col-lg-6 col-md-12 col-sm-12">
                        <div class="card-header">
                            <b>Fotografias do Esqueleto</b>
                        </div>
                        <div class="card">
                            <div class="NumeroRelatorio text-center d-flex mx-auto mt-5">
                                <label for="NumRelatorio" class="col-sm-4">Relatório:</label>
                                <input type="text" id="" name="Relatorio" class="caixa-texto text-center col-4" readonly value="@item.InventEsqueletoId" />
                            </div>
                            <div class="ImgEsqueleto text-center d-flex align-content-center mx-auto mt-5">
                                <label for="date" class="card-img"></label>
                                <img src="@item.Url" alt="Imagem" class="img-thumbnail d-flex" style="max-width: 100%;" />
                            </div>
                            <div class="buttonCrud mt-5 mb-5 d-flex mx-auto align-content-center">
                                <button type="button" class="btn btn-secondary me-1" id="createItem" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                                    <a asp-action="Edit" asp-route-id="@item.id" style="text-decoration: none; color: white;">Alterar</a>
                                </button>
                                <button type="button" class="btn btn-danger" id="createItem" data-bs-toggle="tooltip" data-bs-placement="top" title="Deletar">
                                    <a asp-action="Delete" asp-route-id="@item.id" style="text-decoration: none; color: white;">Remover</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            contador++;
        }
    </div>
</div>

<!--<div class="TituloInvCranio text-center align-items-center d-flex mt-2">
    <div>
        <a class="btn custom-button-card m-3" asp-action="Create">Adicionar Foto</a>
    </div>
</div>
<div class="card text-center d-flex mx-auto m-5 col-lg-6 col-md-12 col-sm-12">
    <div class="card-header">
        <b>Fotografias das Alterações do Crânio</b>
    </div>
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="NumeroRelatorio text-center d-flex mx-auto mt-5">
                <label for="NumRelatorio" class="col-sm-4">Relatório:</label>
                <input type="text" id="" name="Relatorio" class="caixa-texto text-center col-4" readonly value="@item.InventEsqueletoId" />
            </div>
            <div class="ImgEsqueleto text-center d-flex align-content-center mx-auto mt-5">
                <label for="date" class="card-img"></label>
                <img src="@item.Url" alt="Imagem" class="img-thumbnail d-flex" style="max-width: 100%;" />

            </div>
            <div class="buttonCrud mt-5 mb-5 d-flex mx-auto align-content-center">
                <button type="button" class="btn btn-secondary me-1" id="createItem" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                    <a asp-action="Edit" asp-route-id="@item.id" style="text-decoration: none; color: white;">Alterar</a>
                </button>
                <button type="button" class="btn btn-danger" id="createItem" data-bs-toggle="tooltip" data-bs-placement="top" title="Deletar">
                    <a asp-action="Delete" asp-route-id="@item.id" style="text-decoration: none; color: white;">Remover</a>
                </button>
            </div>
        </div>
    }
</div>-->
